.footer {
   background-color:rgb(231, 170, 107);
   padding: 2rem 0rem 0rem 0rem;
   font-family: 'Julius Sans One', sans-serif;
   color: whitesmoke;
}

.footer p {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 0;
}

.footer a :hover {
   color: rgb(146, 210, 226);
   text-shadow: 4px 3px 2px rgba(58, 57, 57, 0.575), 4px 4px 5px rgba(112, 112, 112, 0.493);
}

.social-icon {
   font-size: 4rem;
   margin: 0 10px;
   color: rgb(255, 255, 255);
   transition-duration: 0.5s;
}
.social-icon-whats {
   font-size: 1.5rem;
   color: rgb(255, 255, 255);
}
.glovo-icon{
   width: 4.2rem;
}

@media only screen and (max-width: 992px) {
   .footer p {
      font-size: 20px;
   }

   .footer a {
      font-size: 15px;
   }

   .social-icon {
      font-size: 3rem;
   }
}

.direccion p {
   font-size: 12px;
}

.subtitle-footer p{
   font-size: 12px;
}


.links {
   list-style: none;
   font-size: 15px;
}
.links hr { 
   width: 50px;
   margin-top: 5px;
   margin-bottom: 5px;
   height: 5px;
}

.links a {
   color: whitesmoke;
   text-decoration: none;
}

.links a:hover {
   color: rgb(146, 210, 226);
}


.volverArriba {
   font-size: 2rem;
   color: whitesmoke;
   text-decoration: none;
   transition: 0.4s;
   background-color: transparent;
   border: none;
   padding: 0;
}

.volverArriba:link, .volverArriba:visited, .volverArriba:active {
   color: whitesmoke;
}

.volverArriba:hover {
   color: rgb(146, 210, 226);
}

.footer-admin {
   background-color: gray;
   color: blanchedalmond;
}

.botom-footer{
   background-color: grey;
   padding: 10px;
}
@media only screen and (max-width: 640px) {
   .botom-footer {
      font-size: 15px;
   }
   .volverArriba {
      font-size: 1.8rem;
   }
}