.productos {
  color: #333;
  margin-bottom: 3rem;
  width: 28rem;
}

.card-productos {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: none;
  border-radius: 0;
}

.card-description {
  padding: 0;
}

.container-photo {
  position: relative;
}

.img-product {
  width: 28rem;
  height: 28rem;
}

.overlay {
  position: absolute;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  bottom: 0;
  background: rgb(146, 210, 226);
  background: rgb(146, 210, 226);
  color: whitesmoke;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container-photo:hover .overlay {
  opacity: 1;
}

.category-product {
  color: rgb(102, 101, 101);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 1.3rem;
  margin-bottom: 0;
}

.name-product {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  height: 1.3rem;
  margin-bottom: 1px;
}

.price-product {
  color: rgb(102, 101, 101);
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.pag-num {
  font-family: 'Julius Sans One', sans-serif;
}


/* zona de botones */
.add-cart-btn {
  background: rgb(146, 210, 226);
  color: whitesmoke;
  border-color: whitesmoke;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}

.added-cart-btn {
  background: whitesmoke;
  width: 100%;
  color: rgb(146, 210, 226);
  border-color: rgb(146, 210, 226);
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;

}

.add-cart-btn:hover {
  background: none;
  transition-duration: 0.5s;
  color: rgb(146, 210, 226);
  border-color: rgb(146, 210, 226);
  font-size: 18px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  transition: 0.4s;
}

@media screen and (max-width:768px) {
  .productos {
    margin-bottom: 1rem;
    width: 9rem;
  }

  .img-product {
    max-width: 9rem;
    max-height: 9rem;
  }

  .name-product {
    font-size: 10px;
  }

  .price-product {
    font-size: 14px;
  }
  .add-cart-btn {
    font-size: 10px;
    height: 30px;
  }

  .added-cart-btn {
    font-size: 10px;
    height: 30px;
  }

  .add-cart-btn:hover {
    font-size: 10px;
  }
  
.overlay {
  font-size: 12px;
  padding: 12px;
}
}


@media screen and (max-width:500px){
  .category-product {
    font-size: 9px;
    height: 1rem;
  }
}